body,footer {
    /* font-family: sans-serif, Arial, Helvetica; */
    font-family: sans-serif;
}
.top-bar {
    font-size: small;
}
.top-bar-link {
    text-decoration-style: none;
    color: rgb(71, 179, 118);
}
.top-bar-link:hover {
    color: red;
}
.navbar-nav li {
    color: white;
    padding: 0px 20px;
}
.navbar-nav .nav-item a:hover{
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: red;
    color: rgb(71, 179, 118);
}
.sidebar :active {
    text-decoration: underline;
    text-decoration-color: rgb(71, 179, 118);
    color: rgb(71, 179, 118);
}
.sidebar {
    text-decoration-style: none;
    color: black;
} 
.sidebar:hover {
    color: rgb(71, 179, 118);
    text-decoration: underline;
}
.col-md-2 {
    font-size: 15px;
}