<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='pics/favicon.ico') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% block title %}
    {% endblock %}
</head>
<body>
    <div class="d-flex" style="background-color:rgb(219, 219, 219);">
        <div class="p-2 mr-auto top-bar">Easy Garage Help Desk: 0700 000 000(Safaricom), 0200 000 000(Telkom)</div>
        <a href="{{ url_for('usercenter', id=200) }}" class="p-2 top-bar top-bar-link">User Center</a><span>|</span>
        <a href="#" class="p-2 top-bar top-bar-link">Sign In</a><span>|</span>
        <a href="#" class="p-2 top-bar top-bar-link">Register An Account</a>
    </div>
    <div class="container">
        <img src="{{ url_for('static', filename='pics/logo3.png') }}" alt="logo" style="width: 350; height: 120 ;">
    </div>
    <nav class="navbar justify-content-center navbar-expand-sm navbar-dark"
     style="background-color: rgb(71, 179, 118);">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link n-link" href="{{ url_for('myVehicles') }}">Vehicle Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link n-link" href="#">Vehicle Servicing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link n-link" href="#">Repair</a>
            </li>   
            <li class="nav-item">
                <a class="nav-link n-link" href="#">Assistant</a>
            </li>  
        </ul>
    </nav>
    <br>
    <br>
    {% block content %}
      
    {% endblock %}
</body>
<footer class="text-faded text-center py-5" style="margin-bottom:0; padding-top: 0; background-color:rgb(71, 179, 118) ;">
    <div>
        <img src="{{ url_for('static', filename='pics/rsz_logo4.png') }}" alt="logo" style="width: 250; height: 50 ;margin-top: 0;padding-top: 0;">
    </div>
    <p class="m-0 small">Email: info@easygarage.com support@easygarage.com</p>
    <p class="m-0 small">Copyright &copy; Easy Garage 2020. All rights reserved.</p>
    <a class="btn btn-secondary ml-auto" style="float: right;" href="#">^</a>
</footer>
</html>